.svg-icons {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;

    .social-link:hover &,
    .social-link:focus & {
        fill: var(--primary-white-color);
}
}

.icon-list {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover,
    &:focus {
        transition: background-color var(--animation);
        background-color: var(--accent-color);
    }

    .item-icon:hover &,
    .item-icon:focus & {
        background-color:var(--accent-color);
    }
}
